@model IEnumerable<movieArchieve.Entities.Ratings>

@{
    ViewData["Title"] = "Ratings List";
}

<h1>Ratings List</h1>

<a href="/Ratings/Create">Add New Rating</a>

<table>
    
    <tr>
        <th>ID</th>
        <th>scor</th>
        <th>createdAt</th>
        <th>Actions</th>
    </tr>
   
    @foreach (var rating in Model)
    {
        <tr>
            <td>@rating.ratingID</td>
            <td>@rating.scor</td>
            <td>@rating.createdAt</td>
            <td>
                <a href="/Ratings/Edit/@rating.ratingID">Edit</a>
                <a href="/Ratings/Delete/@rating.ratingID">Delete</a>
            </td>
        </tr>
    }

</table>
