@model IEnumerable<movieArchieve.Entities.Directors>

@{
    ViewData["Title"] = "Directors List";
}

<h1>Directors List</h1>

<a href="/Directors/Create">Add New Director</a>

<table>
    <tr>
        <th>ID</th>
        <th>fullName</th>
        <th>age</th>
        <th>Actions</th>
    </tr>

    @foreach (var director in Model)
    {
        <tr>
            <td>@director.directorID</td>
            <td>@director.fullName</td>
            <td>@director.age</td>
            <td>
                <a href="/Directors/Edit/@director.directorID">Edit</a>
                <a href="/Directors/Delete/@director.directorID">Delete</a>
            </td>
        </tr>
    }

</table>