@model IEnumerable<movieArchieve.Entities.Actors>

@{
    ViewData["Title"] = "Create Actor";
}


<h1>Create Actor</h1>

<form method="post" action="/Actors/Create">
    
    <div>
        <label>fullName</label> 
        <input type="text" name="fullName" required/>
    </div>

    <button type="submit">Add Actor</button>

</form>


