@model IEnumerable<movieArchieve.Entities.Actors>

@{
    ViewData["Title"] = "Actors";

}

<h1>Actor List</h1>

<a href="/Actors/Create">Add New Actor</a>

<table>
    <tr>
        <th>ID</th>
        <th>fullName</th>
        <th>age</th>
        <th>Actions</th>
    </tr>
    @foreach (var actor in Model)
    {
        <tr>
            <td>@actor.actorID</td>
            <td>@actor.fullName</td>
            <td>@actor.age</td>
            <td>
                <a href="/Actors/Edit/@actor.actorID">Edit</a> |
                <a href="/Actors/Delete/@actor.actorID">Delete</a>

            </td>
        </tr>
    }
</table>

