@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Choose a list</h1>

    <div class="d-flex flex-column align-items-center gap-2 mt-3">
        <a href="/actor">Actor List</a>
        <a href="/director">Director List</a>
        <a href="/genre">Genre List</a>
        <a href="/movie">Movie List</a>
        <a href="/movielang">Movie Language List</a>
        <a href="/rating">Rating List</a>
        <a href="/review">Review List</a>
        <a href="/user">User List</a>
        <a href="/watchlist">Watchlist</a>
    </div>

</div>
