@model IEnumerable<movieArchieve.Entities.Reviews>

@{
    ViewData["Title"] = "Add Review";
}

<h1>Add Review</h1>

<form method="post" action="/Reviews/Create">
    
    <div>
        <label>Language Name</label>
        <input type="text" name="langName" required />
    </div>
    
    <div>
        <label>CreatedAt</label>
        <input type="datetime-local" name="createdAt"/>
    </div>

    <button type="submit">Add Review</button>

</form>