@model movieArchieve.Entities.Reviews


@{
    ViewData["Title"] = "Edit Review";
}

<h1>Edit Review</h1>

<form method="post" action="/Reviews/Edit">
    <input type="hidden" name="reviewID" value="@Model.reviewID " />

    <div>
        <label>Content</label>
        <input type="text" name="content" value="@Model.content" required />
    </div>
    
    <div>
        <label>UpdatedAt</label>
        <input type="datetime-local" name="updatedAt" value="@Model.updatedAt" />
    </div>

    <button type="submit">Update Review</button>

</form>