@model IEnumerable<movieArchieve.Entities.Reviews>

@{
    ViewData["Title"] = "Reviews List";
}

<h1>Reviews List</h1>

<a href="/Reviews/Create">Add New Review</a>

<table>
    <tr>
        <th>ID</th>
        <th>content</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>Actions</th>
    </tr>
    @foreach (var review in Model)
    {
        <tr>
            <td>@review.reviewID</td>
            <td>@review.content</td>
            <td>@review.createdAt</td>
            <td>@review.updatedAt</td>
            <td>
                <a href="/Reviews/Edit/@review.reviewID">Edit</a>
                <a href="/Reviews/Delete/@review.reviewID">Delete</a>
            </td>
        </tr>
    }

</table>