@model IEnumerable<movieArchieve.Entities.MovieLangs>

@{
    ViewData["Title"] = "Movie Languages";
}

<h1>Movie Languages</h1>

<a href="/MovieLangs/Create">Add New Language</a>

<table>
    <tr>
        <th>Language ID</th>
        <th>Language Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var lang in Model)
    {
       <tr>
           <td>@lang.languageID</td>
           <td>@lang.langName</td>
           <td>
                <a href=" /MovieLangs/Edit/@lang.languageID">Edit</a>
                <a href=" /MovieLangs/Delete/@lang.languageID">Delete</a>
           </td>
       </tr>
    }
</table>
